.shorttemplates_ShortTemplate_29NLb {
    background: var(--aquadeck-secondary-container);
    margin-right: 10px;
}

.shorttemplates_ShortTemplate_29NLb .shorttemplates_Title_BkpSl,
.shorttemplates_ShortTemplate_29NLb .shorttemplates_Icon_2TlJy {
    color: var(--aquadeck-primary);
}

.shorttemplates_ShortTemplate_29NLb .shorttemplates_Body_i5dFV {
    color: var(--aquadeck-secondary);
}

.notificationcontent_FriendInGameAppColor_3uw_G {
    color: var(--aquadeck-tertiary);
}