/* Blueberry — iMac G3 1999 */
:root {
  /* light */
  --aquadeck-primary-light: #2952C8;
  --aquadeck-on-primary-light: #ffffff;
  --aquadeck-primary-container-light: #D9E2FF;
  --aquadeck-on-primary-container-light: #001450;
  --aquadeck-primary-fixed-light: #D9E2FF;
  --aquadeck-on-primary-fixed-light: #001450;
  --aquadeck-primary-fixed-dim-light: #ADC2FF;
  --aquadeck-on-primary-fixed-variant-light: #0F3AAE;
  --aquadeck-secondary-light: #55597B;
  --aquadeck-on-secondary-light: #ffffff;
  --aquadeck-secondary-container-light: #D9DCF9;
  --aquadeck-on-secondary-container-light: #111635;
  --aquadeck-secondary-fixed-light: #D9DCF9;
  --aquadeck-on-secondary-fixed-light: #111635;
  --aquadeck-secondary-fixed-dim-light: #BDC1E2;
  --aquadeck-on-secondary-fixed-variant-light: #3D4161;
  --aquadeck-tertiary-light: #716878;
  --aquadeck-on-tertiary-light: #ffffff;
  --aquadeck-tertiary-container-light: #FBDEFF;
  --aquadeck-on-tertiary-container-light: #2A2033;
  --aquadeck-tertiary-fixed-light: #FBDEFF;
  --aquadeck-on-tertiary-fixed-light: #2A2033;
  --aquadeck-tertiary-fixed-dim-light: #DEBDE6;
  --aquadeck-on-tertiary-fixed-variant-light: #584C61;
  --aquadeck-error-light: #ba1a1a;
  --aquadeck-error-container-light: #ffdad6;
  --aquadeck-on-error-light: #ffffff;
  --aquadeck-on-error-container-light: #410002;
  --aquadeck-background-light: #F9F9FF;
  --aquadeck-on-background-light: #1A1B26;
  --aquadeck-outline-light: #75768D;
  --aquadeck-inverse-on-surface-light: #F1EFF9;
  --aquadeck-inverse-surface-light: #2F2F40;
  --aquadeck-inverse-primary-light: #ADC2FF;
  --aquadeck-shadow-light: #000000;
  --aquadeck-surface-tint-light: #2952C8;
  --aquadeck-outline-variant-light: #C5C4D9;
  --aquadeck-scrim-light: #000000;
  --aquadeck-surface-light: #F9F9FF;
  --aquadeck-on-surface-light: #1A1B26;
  --aquadeck-surface-variant-light: #E1E0F3;
  --aquadeck-on-surface-variant-light: #44455A;
  --aquadeck-surface-container-highest-light: #E2E1EC;
  --aquadeck-surface-container-high-light: #E8E7F3;
  --aquadeck-surface-container-light: #EEEDF8;
  --aquadeck-surface-container-low-light: #F4F3FE;
  --aquadeck-surface-container-lowest-light: #ffffff;
  --aquadeck-surface-dim-light: #D9D8E5;
  --aquadeck-surface-bright-light: #F9F9FF;
  /* dark */
  --aquadeck-primary-dark: #ADC2FF;
  --aquadeck-on-primary-dark: #002084;
  --aquadeck-primary-container-dark: #0F3AAE;
  --aquadeck-on-primary-container-dark: #D9E2FF;
  --aquadeck-primary-fixed-dark: #D9E2FF;
  --aquadeck-on-primary-fixed-dark: #001450;
  --aquadeck-primary-fixed-dim-dark: #ADC2FF;
  --aquadeck-on-primary-fixed-variant-dark: #0F3AAE;
  --aquadeck-secondary-dark: #BDC1E2;
  --aquadeck-on-secondary-dark: #272B4A;
  --aquadeck-secondary-container-dark: #3D4161;
  --aquadeck-on-secondary-container-dark: #D9DCF9;
  --aquadeck-secondary-fixed-dark: #D9DCF9;
  --aquadeck-on-secondary-fixed-dark: #111635;
  --aquadeck-secondary-fixed-dim-dark: #BDC1E2;
  --aquadeck-on-secondary-fixed-variant-dark: #3D4161;
  --aquadeck-tertiary-dark: #DEBDE6;
  --aquadeck-on-tertiary-dark: #40344A;
  --aquadeck-tertiary-container-dark: #584C61;
  --aquadeck-on-tertiary-container-dark: #FBDEFF;
  --aquadeck-tertiary-fixed-dark: #FBDEFF;
  --aquadeck-on-tertiary-fixed-dark: #2A2033;
  --aquadeck-tertiary-fixed-dim-dark: #DEBDE6;
  --aquadeck-on-tertiary-fixed-variant-dark: #584C61;
  --aquadeck-error-dark: #ffb4ab;
  --aquadeck-error-container-dark: #93000a;
  --aquadeck-on-error-dark: #690005;
  --aquadeck-on-error-container-dark: #ffdad6;
  --aquadeck-background-dark: #121218;
  --aquadeck-on-background-dark: #C6C5D4;
  --aquadeck-outline-dark: #8E8FA5;
  --aquadeck-inverse-on-surface-dark: #121218;
  --aquadeck-inverse-surface-dark: #C6C5D4;
  --aquadeck-inverse-primary-dark: #2952C8;
  --aquadeck-shadow-dark: #000000;
  --aquadeck-surface-tint-dark: #ADC2FF;
  --aquadeck-outline-variant-dark: #44455A;
  --aquadeck-scrim-dark: #000000;
  --aquadeck-surface-dark: #121218;
  --aquadeck-on-surface-dark: #C6C5D4;
  --aquadeck-surface-variant-dark: #44455A;
  --aquadeck-on-surface-variant-dark: #C5C4D9;
  --aquadeck-surface-container-highest-dark: #322F40;
  --aquadeck-surface-container-high-dark: #272434;
  --aquadeck-surface-container-dark: #1F1F2C;
  --aquadeck-surface-container-low-dark: #1A1925;
  --aquadeck-surface-container-lowest-dark: #0C0D18;
  --aquadeck-surface-dim-dark: #121218;
  --aquadeck-surface-bright-dark: #38374A;
}
