/* Tangerine — iMac G3 1999 */
:root {
  /* light */
  --md-sys-color-primary-light: #8E4E00;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #FFDBCA;
  --md-sys-color-on-primary-container-light: #2F1500;
  --md-sys-color-primary-fixed-light: #FFDBCA;
  --md-sys-color-on-primary-fixed-light: #2F1500;
  --md-sys-color-primary-fixed-dim-light: #FFB68C;
  --md-sys-color-on-primary-fixed-variant-light: #6E3A00;
  --md-sys-color-secondary-light: #755846;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #FFDBCA;
  --md-sys-color-on-secondary-container-light: #2B1709;
  --md-sys-color-secondary-fixed-light: #FFDBCA;
  --md-sys-color-on-secondary-fixed-light: #2B1709;
  --md-sys-color-secondary-fixed-dim-light: #E5BBA5;
  --md-sys-color-on-secondary-fixed-variant-light: #5B4231;
  --md-sys-color-tertiary-light: #5C5F00;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #E5E674;
  --md-sys-color-on-tertiary-container-light: #1B1D00;
  --md-sys-color-tertiary-fixed-light: #E5E674;
  --md-sys-color-on-tertiary-fixed-light: #1B1D00;
  --md-sys-color-tertiary-fixed-dim-light: #C8C955;
  --md-sys-color-on-tertiary-fixed-variant-light: #454700;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #FFF8F5;
  --md-sys-color-on-background-light: #221A14;
  --md-sys-color-outline-light: #85715F;
  --md-sys-color-inverse-on-surface-light: #FFEDE2;
  --md-sys-color-inverse-surface-light: #3A2E27;
  --md-sys-color-inverse-primary-light: #FFB68C;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #8E4E00;
  --md-sys-color-outline-variant-light: #D6C1B2;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #FFF8F5;
  --md-sys-color-on-surface-light: #221A14;
  --md-sys-color-surface-variant-light: #F3DDD1;
  --md-sys-color-on-surface-variant-light: #52443C;
  --md-sys-color-surface-container-highest-light: #EDD9CC;
  --md-sys-color-surface-container-high-light: #F3DFD2;
  --md-sys-color-surface-container-light: #F9E5D8;
  --md-sys-color-surface-container-low-light: #FFECE0;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #E6D2C4;
  --md-sys-color-surface-bright-light: #FFF8F5;
  /* dark */
  --md-sys-color-primary-dark: #FFB68C;
  --md-sys-color-on-primary-dark: #4B2600;
  --md-sys-color-primary-container-dark: #6E3A00;
  --md-sys-color-on-primary-container-dark: #FFDBCA;
  --md-sys-color-primary-fixed-dark: #FFDBCA;
  --md-sys-color-on-primary-fixed-dark: #2F1500;
  --md-sys-color-primary-fixed-dim-dark: #FFB68C;
  --md-sys-color-on-primary-fixed-variant-dark: #6E3A00;
  --md-sys-color-secondary-dark: #E5BBA5;
  --md-sys-color-on-secondary-dark: #432C1D;
  --md-sys-color-secondary-container-dark: #5B4231;
  --md-sys-color-on-secondary-container-dark: #FFDBCA;
  --md-sys-color-secondary-fixed-dark: #FFDBCA;
  --md-sys-color-on-secondary-fixed-dark: #2B1709;
  --md-sys-color-secondary-fixed-dim-dark: #E5BBA5;
  --md-sys-color-on-secondary-fixed-variant-dark: #5B4231;
  --md-sys-color-tertiary-dark: #C8C955;
  --md-sys-color-on-tertiary-dark: #303200;
  --md-sys-color-tertiary-container-dark: #454700;
  --md-sys-color-on-tertiary-container-dark: #E5E674;
  --md-sys-color-tertiary-fixed-dark: #E5E674;
  --md-sys-color-on-tertiary-fixed-dark: #1B1D00;
  --md-sys-color-tertiary-fixed-dim-dark: #C8C955;
  --md-sys-color-on-tertiary-fixed-variant-dark: #454700;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #19120C;
  --md-sys-color-on-background-dark: #EEDDD4;
  --md-sys-color-outline-dark: #A08878;
  --md-sys-color-inverse-on-surface-dark: #19120C;
  --md-sys-color-inverse-surface-dark: #EEDDD4;
  --md-sys-color-inverse-primary-dark: #8E4E00;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #FFB68C;
  --md-sys-color-outline-variant-dark: #52443C;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #19120C;
  --md-sys-color-on-surface-dark: #EEDDD4;
  --md-sys-color-surface-variant-dark: #52443C;
  --md-sys-color-on-surface-variant-dark: #D6C1B2;
  --md-sys-color-surface-container-highest-dark: #36261B;
  --md-sys-color-surface-container-high-dark: #2C1F15;
  --md-sys-color-surface-container-dark: #22170E;
  --md-sys-color-surface-container-low-dark: #1D130A;
  --md-sys-color-surface-container-lowest-dark: #130D07;
  --md-sys-color-surface-dim-dark: #19120C;
  --md-sys-color-surface-bright-dark: #3F2F24;
}
